:root {
    --white: #ffffff;
    --success: #28a745;
    --primary: #494259;
    --primary-light: rgba(73, 66, 89, 0.771);
    --secondary: #D9AC84;
    --tertiary: #fafafd;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;    
}
/* fafafd */
    /* --primary: #494259;
    --secondary: #D9AC84;
    --tertiary: #D9C9BA; */
    /* --primary: #7644e1;
    --secondary: #ffb700;
    --tertiary: #fafafd; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}
body {
    background-color: var(--tertiary);
    color: var(--primary);
}
ul {
    list-style-type: none;
}
a {
    color: inherit;
    font-weight: inherit;
}
p {
    max-width: 600px;
    font-size: 16px;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 10fr 7fr;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
.btn-main {
    color: #fff;
    background-color: var(--primary);
    font-size: 15px !important;
}
.btn-main.active,
.btn-main:hover {
    color: #fff;
    background-color: var(--secondary);
    outline: none;
    border: none;
}
.active {
    color: var(--primary);
    font-weight: bolder;
}
a:hover {
    color: var(--secondary);
}
.logo {
    font-size: 32px;
    font-weight: 600;
}
header .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--primary);
    font-weight: 600;
    background-color: transparent;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--secondary);
}
::-webkit-scrollbar-track {
    background-color: var(--primary);
}
main {
    height: 100vh;
    overflow-y: scroll;
}
header {
    background-color: var(--white);
    z-index: 5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
header li {
    font-size: 18px;
    color: var(--primary-light);
}
.login-div {
    width: 205px;
}
.btn-register {
    width: 100px;
}
.home {
    height: 100vh;
}
.home h1 {
    color: var(--primary);
    font-weight: 700;
    font-size: 45px;
}
.home h2 {
    color: var(--primary-light);
    font-size: 35px;
    font-weight: 500;
}
.section-heading {
    font-weight: 600;
    color: var(--dark);
}
#about {
    background-color: var(--white);
}
.img1-div {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.img2-div {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.img3-div {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-top: 30%;
}
.img1-div img,
.img2-div img,
.img3-div img {
    border: 7px solid var(--tertiary);
    border-radius: 7px;
}
.card {
    background: transparent;
    transition: 0.3s;
    border: none !important;
}
.message-div {
    max-width: 300px;
    background-color: var(--white);
    border-radius: 5px;
}
.message-div input {
    border-radius: 5px;
    background-color: var(--white);
    border: none;
    outline: none;
}
.message-div .btn {
    background-color: var(--secondary);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    outline: none;
}
#contact {
    background: url('../images/contact.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    color: var(--white);
}
#contact h3 {
    font-size: 38px;
    font-weight: 600;
    max-width: 400px;
}
footer {
    background-color: var(--primary);
    color: var(--white);
}
@media only screen and (max-width: 568px) {
    .about-card {
        flex-direction: column-reverse;
    }
    .mobile-none {
        display: none;
    }
    #home img {
        max-height: 295px;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
    }
    .section-heading {
        font-weight: 600;
        font-size: 25px;
    }
}
@media only screen and (max-width: 375px) {
    #home img {
        max-height: 275px;
    }
}
@media only screen and (max-width: 320px) {
    #home img {
        max-height: 245px;
    }
}
@media only screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
    .nav .nav-item {
        display: block;
    }
    .logo {
        font-size: 25px;
        font-weight: 600;
    }
    #home h1 {
        font-size: 25px;
    }
    #home h2 {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1000px) {
    
}